@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  min-height: 51px;
  padding: 14px 30px 10px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s ease;
}
.button--white {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
}
.button--white:hover {
  background-color: #333333;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.button--dark {
  background-color: #333333;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.button--dark:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Gilroy, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F9F9F9;
}

h1 {
  font-family: "Noto Serif", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
}

h2 {
  font-family: "Noto Serif", serif;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 45px;
}
@media (max-width: 375px) {
  h2 {
    margin-bottom: 20px;
  }
}

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  margin: 100px 0 15px;
}
@media (max-width: 375px) {
  h3 {
    margin: 10px 0 10px;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  background-color: #F9F9F9;
  color: #000000;
}

.container-dark {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  background-image: url(../img/back_layer.svg);
  color: #ffffff;
}

.header__main {
  width: 100%;
  background-color: #333333;
  text-align: center;
  color: white;
}
.header__main--border {
  border-bottom: 1px solid #ffffff;
}
.header__main--border h1 {
  margin-top: 520px;
}
@media (max-width: 375px) {
  .header__main--border h1 {
    margin-top: 250px;
  }
}
.header__main .header__button {
  margin: 50px auto 80px;
}

.header__main--logo {
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../img/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-nav__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
@media (max-width: 375px) {
  .header-nav__main {
    display: none;
  }
}
.header-nav__main__block {
  display: flex;
  gap: 40px;
}
@media (max-width: 375px) {
  .header-nav__main__block {
    display: none;
  }
}
.header-nav__main--loupe {
  position: relative;
}
.header-nav__main--loupe a::before {
  left: -25px;
  position: absolute;
  content: url(../img/loupe.svg);
  text-align: center;
}
.header-nav__main--logo {
  margin: 25px 128px;
}

.header-nav--main__link {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease;
}
.header-nav--main__link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.header-nav--main__link:focus {
  color: white;
}
.header-nav--main__link:active {
  color: rgba(109, 108, 108, 0.493);
}

.nav_wrapper_off {
  display: none;
}

.nav_wrapper {
  padding: 35px;
  text-align: left;
}
.nav_wrapper a {
  display: block;
  font: 400 21px/29px Gilroy, sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  margin: 30px 0;
}
.nav_wrapper span {
  display: block;
  height: 1px;
  width: auto;
  background-color: #ffffff;
  margin: 4px 34px;
}
.nav_wrapper__media__pics {
  display: flex;
  gap: 45px;
}
.nav_wrapper__media__pics img {
  width: 33px;
  height: 33px;
}
.nav_wrapper__media--social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_wrapper__media--social img {
  fill: white;
}

.header-nav__media--logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  margin-bottom: 34px;
}
.header-nav__media--logo a {
  display: block;
}
.header-nav__media--logo img {
  display: block;
  margin: 0 0 0 34px;
}
.header-nav__media--logo span {
  display: block;
  height: 4px;
  width: 21px;
  background-color: #ffffff;
  margin: 4px 34px;
  border-radius: 2px;
}

@media (min-width: 376px) {
  .header-nav__media--logo {
    display: none;
  }
}
.brands__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  min-height: 120px;
}
@media (max-width: 375px) {
  .brands__main {
    display: none;
  }
}
.brands__main div {
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}
.brands__main div:last-child {
  border-right: none;
}
.brands__main div a img:hover {
  transition: all 0.4s ease;
  transform: scale(1.1);
}

.events__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 18px;
}
.events__form div {
  position: relative;
  width: 165px;
  height: 55px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
}
.events__form div label {
  position: absolute;
  padding-top: 16px;
  text-align: center;
  border: 1px solid #d6d6d6;
  display: inline-block;
  box-sizing: border-box;
  width: 165px;
  height: 55px;
  left: -7px;
  bottom: 5px;
  cursor: pointer;
  background-color: #ffffff;
  font: 500 18px/22px Gilroy, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.events__form div input:checked + label {
  padding-top: 18px;
  border: 1px solid #333333;
  width: 170px;
  height: 60px;
  left: -4px;
  bottom: -1px;
  background-color: #333333;
  color: white;
}

.events__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 30px;
  margin: 55px 0 120px;
}
@media (max-width: 375px) {
  .events__items {
    margin: 20px 0 20px;
  }
}
.events__items a {
  box-sizing: border-box;
  height: 280px;
  width: 350px;
  text-align: center;
  padding-top: 222px;
  font: 500 24px/29px Gilroy, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease;
}
.events__items a:nth-child(1) {
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(../img/rings.jpg);
}
.events__items a:nth-child(2) {
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(../img/earings.jpg);
}
.events__items a:nth-child(3) {
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(../img/necklages.jpg);
}
.events__items a:nth-child(4) {
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(../img/studs.jpg);
}
.events__items a:nth-child(5) {
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(../img/bracelet.jpg);
}
.events__items a:nth-child(6) {
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(../img/watches.jpg);
}
.events__items a:hover {
  transform: scale(1.05);
}
.events__items a:focus {
  transform: scale(1.05);
}
.events__items a:active {
  transform: scale(1.05);
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}
@media (max-width: 375px) {
  .gallery__items {
    margin: 10px;
  }
}
.gallery__items a {
  max-width: 555px;
  max-height: 300px;
}
.gallery__items a img {
  width: 100%;
  height: auto;
}
.gallery__items .gallery__items--big {
  position: relative;
}
.gallery__items .gallery__items--big::before {
  position: absolute;
  content: url(../img/play.svg);
  width: 50%;
  margin: auto;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.our-salon__main {
  box-sizing: border-box;
  padding: 5px;
}

.our-salon--text {
  display: inline-block;
  max-width: 730px;
  font: 400 18px/25px Gilroy, sans-serif;
}

.our-salon__button--margin {
  margin: 60px 0 100px;
}
@media (max-width: 375px) {
  .our-salon__button--margin {
    margin: 20px 0 20px;
  }
}

.blog__main {
  display: flex;
  flex-direction: column;
}

.blog__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.blog__items a {
  display: block;
  box-sizing: border-box;
  height: 370px;
  width: 350px;
  font: 400 21px/30px Gilroy, sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 248px 72px 35px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease;
}
.blog__items a:nth-child(1) {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(../img/square_watch.jpg);
}
.blog__items a:nth-child(2) {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(../img/square_studs.jpg);
}
.blog__items a:nth-child(3) {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(../img/square_rings.png);
}
.blog__items a:hover {
  transform: scale(1.05);
}
.blog__items a:focus {
  transform: scale(1.05);
}
.blog__items a:active {
  transform: scale(1.05);
}

.blog__button--margin {
  text-align: center;
  margin: 60px auto 0;
}
@media (max-width: 375px) {
  .blog__button--margin {
    margin: 20px auto 10px;
  }
}

.subscribe__main {
  margin-bottom: 80px;
}
@media (max-width: 375px) {
  .subscribe__main {
    margin-bottom: 0;
  }
}

.subscribe__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  gap: 80px;
}
@media (max-width: 375px) {
  .subscribe__block {
    margin-bottom: 0;
    gap: 10px;
  }
}
.subscribe__block div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 25px 0;
}
.subscribe__block div p {
  position: relative;
}
.subscribe__block div p::before {
  position: absolute;
  content: url(/img/arrow.svg);
  width: 17px;
  height: 17px;
  left: -35px;
}

.subscribe__form--border {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid white;
  width: 100%;
  max-width: 448px;
  min-height: 113px;
  margin: 5px;
}

.subscribe__form form {
  height: 85px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.subscribe__form form input[type=email] {
  border: 1px solid #D6D6D6;
  width: 100%;
  max-width: 200px;
  height: 45px;
  margin-left: 22px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 14px;
  color: black;
}
.subscribe__form form input::placeholder {
  font: inherit;
  color: rgba(51, 51, 51, 0.5);
}
.subscribe__form form .subscribe_button {
  height: 45px;
  padding: 0 30px 0;
  font-weight: 500;
  font-size: 14px;
  margin-right: 22px;
  cursor: pointer;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font: 400 14px/21px Gilroy, sans-serif;
}
.footer__main span {
  height: 1px;
  width: 100%;
  background-color: #333333;
  margin: 10px 0 30px;
}
@media (max-width: 375px) {
  .footer__main span {
    margin: 5px 0;
  }
}

.footer__block__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
}
@media (max-width: 375px) {
  .footer__block__links {
    justify-content: space-evenly;
  }
}
.footer__block__links > div {
  width: 25%;
  min-width: 150px;
}

.footer__block__items {
  margin: 15px 0;
}
@media (max-width: 375px) {
  .footer__block__items {
    margin: 0;
  }
}
.footer__block__items div {
  margin: 15px 0;
}
.footer__block__items a {
  text-decoration: none;
  color: #333333;
  text-decoration: none;
  transition: all 0.4s ease;
}
.footer__block__items a:hover {
  color: black;
  font-weight: 700;
}
.footer__block__items a:focus {
  color: rgba(68, 61, 61, 0.548);
}
.footer__block__items a:active {
  color: rgba(61, 57, 57, 0.5);
}
.footer__block__items b {
  display: block;
  font: 500 18px/25px Gilroy, sans-serif;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #333333;
  max-width: 255px;
  text-transform: uppercase;
}
.footer__block__items img {
  margin-right: 20px;
}

.footer__block--images {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.footer__block__miscellaneous {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 5px 20px;
}
@media (max-width: 375px) {
  .footer__block__miscellaneous {
    display: block;
    text-align: center;
    justify-content: space-evenly;
    margin: 5px 5px 5px;
  }
}
.footer__block__miscellaneous a {
  color: #333333;
  text-decoration: none;
  transition: all 0.4s ease;
}
.footer__block__miscellaneous a:hover {
  color: black;
  font-weight: 700;
}
.footer__block__miscellaneous a:focus {
  color: rgba(68, 61, 61, 0.548);
}
.footer__block__miscellaneous a:active {
  color: rgba(61, 57, 57, 0.5);
}
.footer__block__miscellaneous div:last-child a {
  font: 600 14px/21px Gilroy, sans-serif;
  text-decoration-line: underline;
}

.filter-list__main--name {
  margin: 100px auto 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 40px;
}
@media (max-width: 375px) {
  .filter-list__main--name {
    margin: 20px auto 10px;
    gap: 20px;
    height: inherit;
  }
}
.filter-list__main--name select {
  width: 100%;
  max-width: 160px;
  color: black;
  font: 400 16px/24px Gilroy, sans-serif;
  border: 0;
  border-bottom: 1px solid grey;
  background-color: inherit;
}
@media (max-width: 375px) {
  .filter-list__main--name select {
    max-width: 100%;
    height: auto;
    font: 400 25px/24px Gilroy, sans-serif;
  }
}
.filter-list__main--name select option[value=""][disabled] {
  display: none;
}
.filter-list__main--name:required:invalid {
  color: #333333;
}

.product-card__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-card__main div {
  box-sizing: border-box;
  text-align: center;
  padding: 35px;
  width: 350px;
  height: 450px;
}
.product-card__main div img {
  margin-bottom: 25px;
}
.product-card__main div h4 {
  font: 400 16px/24px Gilroy, sans-serif;
  margin-bottom: 10px;
}
.product-card__main div p {
  font: 600 24px/34px Gilroy, sans-serif;
  margin-bottom: 15px;
}

.product-card__main--bottom {
  margin-bottom: 155px;
}
@media (max-width: 375px) {
  .product-card__main--bottom {
    margin-bottom: 10px;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: grey;
  margin: 60px 0;
}

.button__main--pos {
  text-align: center;
  margin: 60px auto 150px;
}
@media (max-width: 375px) {
  .button__main--pos {
    border-bottom: 1px solid #333333;
    padding-bottom: 20px;
    margin: 10px auto 0;
  }
}

.SEO__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 150px;
}
@media (max-width: 375px) {
  .SEO__main {
    margin-bottom: 20px;
  }
}
.SEO__main > div {
  width: 50%;
}
@media (max-width: 375px) {
  .SEO__main > div {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}

.SEO__main--about {
  font: 600 30px/42px Gilroy, sans-serif;
  margin-bottom: 30px;
}

.SEO__main--increase {
  max-width: 540px;
  font: 400 16px/24px Gilroy, sans-serif;
}

.SEO__main--link a {
  color: #333333;
  text-decoration: none;
  transition: all 0.4s ease;
  text-transform: uppercase;
  font-size: 18px;
}
.SEO__main--link a:hover {
  color: black;
  font-weight: 700;
}
.SEO__main--link a:focus {
  color: rgba(68, 61, 61, 0.548);
}
.SEO__main--link a:active {
  color: rgba(61, 57, 57, 0.5);
}

.read_wrap_off {
  max-height: 150px;
  overflow: hidden;
}
.read_wrap_off p {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg, #333333, white 100%);
}

.SEO__main--prefference {
  max-width: 280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  justify-items: center;
  text-align: center;
  grid-gap: 60px;
}
.SEO__main--prefference a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 90px;
  max-height: 133px;
  color: #333333;
  text-decoration: none;
  transition: all 0.4s ease;
}
.SEO__main--prefference a:hover {
  color: black;
  font-weight: 700;
}
.SEO__main--prefference a:focus {
  color: rgba(68, 61, 61, 0.548);
}
.SEO__main--prefference a:active {
  color: rgba(61, 57, 57, 0.5);
}
.SEO__main--prefference a img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.site-navigator__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  min-height: 22px;
  width: 100%;
  margin: 60px 0 50px;
}
@media (max-width: 375px) {
  .site-navigator__main {
    flex-direction: column;
    margin: 10px 0 10px;
  }
}
.site-navigator__main a {
  color: #333333;
  text-decoration: none;
  transition: all 0.4s ease;
}
.site-navigator__main a:hover {
  color: black;
  font-weight: 700;
}
.site-navigator__main a:focus {
  color: rgba(68, 61, 61, 0.548);
}
.site-navigator__main a:active {
  color: rgba(61, 57, 57, 0.5);
}
@media (max-width: 375px) {
  .site-navigator__main a {
    display: block;
    font: 400 21px/29px Gilroy, sans-serif;
    text-decoration: none;
    margin: 20px 20px;
  }
}
.site-navigator__main span {
  margin: 0 15px;
}
@media (max-width: 375px) {
  .site-navigator__main span {
    display: none;
  }
}

.site-navigator__main--underline p {
  text-decoration: underline;
}

.product__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 120px;
}
@media (max-width: 375px) {
  .product__main {
    margin-bottom: 10px;
  }
}
.product__main > div {
  width: 48%;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.product__card--image img {
  height: auto;
  width: 100%;
}

.product__card--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 40px;
  margin: 0 5px 5px 5px;
}
@media (max-width: 375px) {
  .product__card--images {
    gap: 10px;
  }
}
.product__card--images img {
  max-width: 160px;
  height: 120px;
}

.product__description--border {
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.product__description--border b {
  display: block;
  font: 500 24px/29px Gilroy, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.product__description--border span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #D6D6D6;
  margin: 10px 0 30px;
}

.product__description {
  margin: 0 5px 5px 5px;
}

.product__description--border--inlet {
  padding: 30px;
}

.product__description--cat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
.product__description--cat p {
  display: block;
  font: 400 14px/21px Gilroy, sans-serif;
  color: #979797;
}

.product__description--text {
  font: 400 14px/21px Gilroy, sans-serif;
  margin-bottom: 10px;
}

.product__description--price {
  font: 600 24px/29px Gilroy, sans-serif;
  letter-spacing: 0.05em;
}
@media (max-width: 375px) {
  .product__description--price {
    text-align: center;
  }
}

.product__description--buttons a {
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}